<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hotel Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" href="/icon.ico">
  </head>
  <body>
    <form class="form-signin" action="/" method="post">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Hotel Management System</h1>
    <p>A complete management system</p>
  </div>

  <div class="form-label-group">
    <input type="text" class="form-control" name="username" placeholder="User Id" required autofocus>
    <label for="inputEmail">User Name</label>
  </div>

  <div class="form-label-group">
    <input type="password" class="form-control" name="password" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; Anton Francis Jeejo</p>
</form>
</body>
</html>
