<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=pageTitle %>-Hotel Management System</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="/icon.ico">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=subTitle %></h1>
    <p class="lead">The customer information have been <%= subject %> successfully.</p>
    <form class="" action="/admin" method="get">
      <button class="btn btn-lg btn-warning" type="submit" name="button">Home Page</button>
    </form>
  </div>
</div>
  </body>
  <footer class="text-center">
    <p>
      &copy; Anton Francis Jeejo
    </p>
  </footer>
</html>
